body {
    background-color: rgb(187, 241, 255);
}
h1 {
    text-align: center;
    padding-top: 50%;
}
h3 {
    background-color: aliceblue;
}
a {
    color: antiquewhite;
}
button {
    margin-left: 50%;
}